<!Doctype html>
<html>
<head>
<meta charset="UTF-8">
<script  src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body >    
<div data-ng-app="myApp" data-ng-controller="myCtrl"> 
    <p>名字:<input type="text" data-ng-init="firstname='ppp'" data-ng-maxlength="15" data-ng-model="myname">
        <button ng-click="display()"></button>
    <h1>hello{{myname | lowercase | capitalize | limitTo:13}}</h1>
    <h2>{{1304375948024 | date:"yyyy-MM-dd hh:mm:ss"}}</h2>
    <span data-ng-bind="firstname"></span>
    Date: <input type="date" data-ng-model="user_date" />
    <h2 data-ng-if ="flag">{{currentTime}}</h2>
    <!-- <input type="week" data-ng-model="week">
    <input type="month" data-ng-model="month">
    <input type="time" data-ng-model="time">   -->   
    选中复选框:<input type="checkbox" data-ng-model="myvar">
    <div data-ng-init="person=['John','Doe'];int=0" data-ng-model="int">
        <p data-ng-show="myvar">第二个值为 <span ng-bind="person[int]"></span>
            <span>您点击了{{count}}次</span>
        </p>        
    </div>
    <form>
        Dog<input type="radio" data-ng-model="radioVar" name="radio" value="dog">
        Cat<input type="radio" data-ng-model="radioVar" name="radio" value="cat">
        Bat<input type="radio" data-ng-model="radioVar" name="radio" value="bat"> 
        <input type="search" required>   
            <div data-ng-switch="radioVar">
                <div data-ng-switch-when="dog">
                    你选中了狗
                </div>
                <div data-ng-switch-when="cat">
                    你选中了猫
                </div>
                <div data-ng-switch-when="bat">
                    你选中了蝙蝠
                <div data-ng-switch-default>选中单选框</div> 
            </div>                
        </div>         
    </form>
</div> 
</body>
<script src="myApp.js"></script>
<script src="myCtrl.js"></script>
</html>
